/* estilo geral*/



.imagem, img{
    width: 500px;
    border-radius: 5%;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box; 
    font-family: "Poppins", serif;

}
body{
    background-color: #FFF5EF;
    height:100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
}

 .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8bcaae;
    border:0;
    border-radius: 30px;
    cursor: pointer;
    transition: 1.2s;
}

h2.titulo{
    color:#2F2F3A;
    font-size: 28px;
    text-align: center;
}

button:hover{
    box-shadow: 0px 0px 8px #D3F2E4;
    transform: scale(1.05);
}
/*cabeçalho*/

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color:#7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
   
}

 .interface .logo i{
    color: #8bcaae;
    font-size: 60px;
}
header a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding:0 40px;
}


/*estilo do topo do site */

 section.topo-do-site{
    padding: 40px 4%;
    
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
   
}

.topo-do-site h1{
    color:#2F2F3A;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-do-site p{
    color:#2F2F3A;
    margin: 40px 0px;
}



.topo-do-site .img-topo-site{
    position: relative;
    animation:flutuante 2s ease-in-out infinite alternate;
   
}

@keyframes flutuante{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

/* estilo das especialidades*/

section.especialidades .flex{
    gap: 60px;
}

section.especialidades{
    padding:60px 4%;
}

.especialidades .especialidades-box{
    color:#2F2F3A;
    padding:40px;
    margin-top: 40px;
    border-radius: 20px;
    transition: 1.2s;
    box-shadow: 0 0 15px  #000;
}

.especialidades .especialidades-box:hover{ /*por enquanto obsoleto*/
    transform:scale(1.05);
    box-shadow: 0 0 20px #000000;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color:  #D9C8F2;
}


.especialidades .especialidades-box h3{
    font-size: 28px;
    margin:15px 0;

}
/* estilo do sobre*/

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #2F2F3A;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    display: block;
    color: #8bcaae;
}
.sobre .txt-sobre p{
    text-align: justify;
    line-height: 1.6;
    margin: 0 10px;
    
    
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color:#D3F2E4;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0 20px;
    transition: 1.2s;
}

/* ESTILO DO PORTIFOLIO*/

 section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}


section.portifolio .Grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* cria colunas responsivas */
  gap: 50px; /* espaçamento entre as colunas e linhas */
  padding: 10px 0;
}

.img-port{
    aspect-ratio: 4 / 3;
    width:300px;
    height: 460px;
    background-size: cover;
    background-position: 44% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 44% 100%;
}


.overlay{ /*seta trabalhando apenas dentro de overlay por conta de position relative*/
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000b7;
    color: #fff;
    opacity: 0;
    transition: 1s;
    
}
.overlay:hover{
    opacity: 1;
}

/*ESTILO DO FOOTER  */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1e;
}

footer .flex{
    justify-content: space-between;

}
.line-footer{
    padding:20px 0;
    
}
.border{
    border-top: 2px solid #000;
}

footer .line-footer p i{
    color: #61f0af;
    font-size: 30px;
}


footer .line-footer p a{
    color: #000;
}

.btn-social {
    display: flex;
    gap: 10px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: #9fecc9;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    transition: 1.2s;
}



.social-btn:hover {
    opacity: 0.8;
}

/* responsivdade*/

@media screen and (max-width: 1024px) {
    .flex {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  
    .topo-do-site .flex {
      gap: 30px;
    }
  
    .txt-topo-site h1 {
      font-size: 32px;
    }
  
    .img-topo-site img, .img-sobre img {
      width: 100%;
      max-width: 350px;
    }
  
    .especialidades .especialidades-box {
      width: 100%;
      max-width: 300px;
      margin: 0 auto 20px;
    }
    
    footer .flex {
      flex-direction: column;
      gap: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    header nav {
        display: none;
    }
  
    .txt-topo-site h1 {
      font-size: 28px;
    }
  
    .btn-contato {
      text-align: center;
    }
  
    section.sobre .flex {
      gap: 20px;
    }
  
    section.sobre .txt-sobre h2 {
      font-size: 28px;
    }
  
    section.sobre .txt-sobre p {
      text-align: center;
      
    }
  
    .especialidades .especialidades-box {
      max-width: 100%;
    }
    
    .especialidades h2{
        margin-bottom: 20px;
    }

    .portifolio .flex{
        gap: 20px;
    }


    .btn-contato{
        display: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .txt-topo-site h1 {
      font-size: 24px;
    }
  
    .topo-do-site .btn-contato button {
      padding: 8px 20px;
      font-size: 14px;
    }
  
    .img-port {
      height: 180px;
    }
  
   
    footer .line-footer {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  }
  